* {
    box-sizing: border-box;
}

/* Demo only */
body {
    background: #ffffff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.selected-item {
    text-align: center;
}

.controls-container {
    --highlight-width: auto;
    --highlight-x-pos: 0;

    display: flex;
    margin: 0px 0 8px;
}

.controls {
    display: inline-flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    padding: 12px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.controls input {
    opacity: 0;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    cursor: pointer;
    height: 100%;
    z-index: 1;
}

.segment {
    /* width: 100%; uncomment for each segment to have matching width */
    min-width: 120px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.segment label {
    cursor: pointer;
    display: block;
    font-weight: 700;
    padding: 10px;
    transition: color 0.5s ease;
}

.segment.active label {
    color: #fff;
}

.controls::before {
    content: "";
    background: #6a59c7aa;
    border-radius: 8px;
    width: var(--highlight-width);
    transform: translateX(var(--highlight-x-pos));
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 0;
    z-index: 0;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;

    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

tr {
    min-height: 38.5px;
}

th, td{
    border: 1px solid #dadada;
}

/* Only allow transitions once component is ready */
.controls.ready::before {
    transition: transform 0.3s ease, width 0.3s ease;
}

.dotted-sides {
    border-right: 2px dotted #000000;
    border-left: 2px dotted #000000;
}

.dotted-top {
    border-top: 2px dotted #bbbbbb;
}

th {
    border-bottom: 2px solid #000000;
}

tr.locked {
    background: #f8f8f8;
}

tr.locked > * {
    opacity: 0.3;
}

.floating-button {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: #432ebbaa;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.floating-button:hover {
    background-color: #5748adaa; /* Darker color on hover */
}

.settings-menu {
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 300px;
    font-family: Arial, sans-serif;
}

.setting {
    margin-bottom: 10px;
}

.setting label {
    margin-left: 8px;
}

.mini {
    font-size: 0.8em;
    font-style: italic;
}

.column-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%;
}

.item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.item:hover {
    background-color: #f0f0f0;
}
