.selectOptions {
    background-color: var(--colour-button-background);
    border: 1px solid #75747a;
    background: #ffffff;
}

.selectOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-radius: 4px;
    margin: 5px;

    padding: 0.375rem 0.75rem;
    cursor: pointer;
}

/* .selectContainer {
    display: flex;
    justify-content: space-between;
    background-color: var(--colour-button-background);
    border: 1px solid #464c4e;
} */

.selectOption:hover {
    background-color: var(--colour-button-surface);
}
