.transactionCard {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.transactionCard.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    margin-top: 0rem;
    padding: 1rem;

    .bankDetails {
        /* ROW */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.transactionCard.grid,
.transactionCard.waterfall {
    .description {
        font-size: 0.9rem;
    }

    .bankDetails {
        display: flex;
        flex-direction: column-reverse;
    }
}

.transactionCard.list.stacked {
    margin-top: -1.25rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.balance {
    transition: width 0.6s ease;
}

.anchorLeft {
    justify-content: flex-start;
}
