#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0.5rem;
}

button, .clickable {
    cursor: pointer;
}

.mini {
    font-size: 0.6rem;
}

.footend {
    margin-top: 0.5rem;
    font-style: italic;
}

.verticalSeparator {
    width: 1px;
    background-color: #dadada;
    height: 24px;
    margin: 0 0.5rem;
}

.accounts {
    margin: 1rem;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;

    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid #dadada;
}

.bankLogo {
    width: 32px;
    height: auto;
}

.providerLogo {
    width: 128px;
    height: auto;
}

.spinnerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional for dimming */
    z-index: 9999;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #8c7ce6aa; /* Spinner color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
